 body {
 body {
     background-image: url(https://i2.wp.com/downloadwap.com/thumbs2/wallpapers/p2ls/2019/cars-transport/45/20c7913913437062.jpg);
  background-size: cover;         /* La imagen se ajusta al tamaño de la pantalla */
  background-repeat: no-repeat;   /* No se repite la imagen */
  background-position: center;    /* Se centra la imagen */
    color: rgb(6, 231, 243);
    background-color: black ;
    font-family: Georgia, Times, 'Times New Roman', serif;
    display:flex;
    justify-content:center ;
      align-items: center;
      height: 200vh;
}


    

.inicio-sesion {
  background-color:rgb(2, 64, 248);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgb(2, 251, 255);
  width: 100%;
 max-width: 550px;}

.retcolor{
    color: rgb(0, 0, 0);
}


h2 {
    text-align: center;
    margin-bottom: 100px;
}



form {
display: flex;
flex-direction: column;
}


label{
    margin-bottom: 5px;
 font-weight: bold;
}

input{
    padding: 10px;
    margin-bottom: 15px;
    border: 0lvb;
    border-radius: 10px;

}

button{
    padding: 5px;
    background-color:white;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}


button:hover {
  background-color: #45a049;
}


input:hover{
    background-color: rgb(20, 187, 220);
}




p{
    margin-top: 15px;
    text-align: center;
}




.minimizar { font-size: 160%;

}
